body {
    background-color: lightblue;
    font-family: Arial, sans-serif;            
    justify-content: center;     
    align-items: center;                     
    margin: 0;                   
    font-size: 16px; 
}

.form {
    border: 2px solid #ccc;
    border-radius: 1.5em;  
    width: 50%;           
    padding: 1.25em;       
    background-color: white; 
}

.fieldset {
    border: 1px solid #ccc;
    border-radius: 0.625em; 
    width: 100%;            
    padding: 0.625em;       
    margin-bottom: 1.25rem;  
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 0.625em;       
    width: 100%;            
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 0.5em;   
    margin-bottom: 0.625rem;  
}

input[type="submit"] {
    padding: 0.625em 1.25em; 
    width: 100%;            
    border: none;
    background-color: #4CAF50; 
    color: white;
    border-radius: 0.5em;  
}
